{% extends "pages/base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %} 
<head>
    <title>New Bill Form</title>
</head>
<body>
    <h1>New Bill</h1>
    <br>
    <form action = "" method = "post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit">
    </form>

    <br>
    <div>
        <!-- Link to home page -->
        <a class="btn" href="{% url 'pages/home.html' %}">Home</a>
        <!-- Link to averages page -->
        <a class="btn" href="{% url 'bills-avg' %}">Monthly Averages</a>
        <!-- Link to monthly breakdown-->
        <a class="btn" href="{% url 'bills-mb' %}">Monthly Breakdown</a>
    </div>

{% endblock content %}