{% extends "pages/base.html" %}
{% block content %}
    <!-- The below shows all pending bills and if there is no pending bills, it will show a message -->
    <div class="table-responsive">
        {% if  unpaid.count > 0 %}
        <h1>Pending Bills</h2>
        <table class="table">
            <tr>
                <th>Bill ID#</th>
                <th>Total Paid</th>
                <th>Notes</th>
            </tr> 
            <tr>
            {% for car in unpaid %}
                <td>{{car.billID}}</td>
                <td>${{car.totalPaid}}</td>
                <td>{{car.notes}}</td>
            {% endfor %}
            </tr>
        </table>
        {% else %}
        <h1>No pending bills 😀</h2>

        {% endif %}
    </div>

    <br>

    <br>
    {% if  paid.count > 0 %}
    <div class="table-responsive">
        <h2 style="text-align:center">Previous 5 Bills</h2>
        <table class="table">
            <tr>
                <th>Bill ID</th>
                <th class="thead">Total Paid</th>
            </tr>
            {% for p in paid %}
            <tr>
                <td>{{p.billID}}</td>
                <td>${{p.totalPaid}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

{% endblock content %}


