{% extends "bills/base.html" %}
{% block content %}
{% load static %}
<head>
    <title>Monthly Averages</title>
</head>
<body>
    <h1>Running Average: ${{runningAvg.totalavgCarrierAmount|floatformat:2}}</h1>
    
    <!-- Smooth scroll to bottom of page -->
    <a class="section1" href="#">Scroll to bottom</a>
    
    <br>

    <h1>Averages per month</h1>
    
    <br>
    
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th class="thead">Month/Year</th>
                <th>Biller Name</th>
                <th>Averge Paid</th>
            </tr>
            {% for car in monthlyAvg %}
                <tr>
                    <td>{{car.month}} - {{car.year}}</td>
                    <td>{{car.carrierName}}</td>
                    <td>${{car.avgCarrierAmount}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <br>


    <br>
    <div>
        <!-- Link to home page -->
        <a class="btn" href="{% url 'bills/home.html' %}">To Home page.</a>
        <!-- Link to monthly breakdown page -->
        <a class="btn" href="{% url 'bills-mb' %}">To Monthly Breakdown page.</a>
        <!--This js script is if we are at the bottom of the page and want to easily scrool to the top-->
        <a class="section2" href="#">Scroll to top</a>
    </div>
    
<!-- Smooth scroll js -->
<script src="{% static 'bills/smooth-scroll.js' %}"></script>

{% endblock content %}