{% extends "bills/base.html" %}
{% block content %}
    <!-- The below shows all pending bills and if there is no pending bills, it will show a message -->
    
    {% if  unpaid.count > 0 %}
    <div class="table-responsive">
    <h2 style="text-align:center">Pending Bills</h2>
    <br>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Bill ID#</th>
                <th>Total Paid</th>
                <th>Notes</th>
            </tr> 
            {% for up in unpaid %}
            <tr>
                <td><a class="btn" href="{% url 'bill-paid-update' up.paidID %}">{{up.billID}}</a></td>
                <td>${{up.totalPaid|floatformat:2}}</td>
                <td>{{up.notes}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Pending Total 👉🏽</td>
                <td>${{unpaid_total.grandTotal|floatformat:2}}</td>
                <td>👈🏽</td>
            </tr>
        </table>
    </div>
    </div>
    {% else %}
    <h1>No pending bills 😀</h2>
    {% endif %}
    

    <br>

    <br>
    {% if  paid.count > 0 %}
    <div class="table-responsive">
        <h2 style="text-align:center">Previous 5 Bills</h2>
        <table class="table">
            <tr>
                <th>Bill ID</th>
                <th class="thead">Total Paid</th>
            </tr>
            {% for p in paid %}
            <tr>
                <td>{{p.billID}}</td>
                <td>${{p.totalPaid}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    <br>

    <div class="table-responsive">
        <h2 style="text-align:center">Average Bill Amount</h2>
        <table class="table">
            <tr>
                <th>Biller</th>
                <th class="thead">Average Paid</th>
            </tr>
            {% for a in combinedAvg %}
                <tr>
                    <td>{{a.carrierName}}</td>
                    <td>${{a.avgCarrierAmount}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>Total Average bill amount 👉🏽</td>
                <td>${{averages_total.avgCarrierAmount__sum}}</td>
                <td>👈🏽</td>
            </tr>
        </table>
    </div>

{% endblock content %}


